.add-user-group-container {
    width: 99%;
    margin-left: 1%;
    height: 100%;
}

.text-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.file-icon{
    width: 25px;
    padding-left: 10px;
}

.common-btn-container {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
}

.sorting-div{
    display: flex;
    width: 100%;
    height: 5%;
}

.table-container{
    width: 95%;
    margin-left: 1%;
    margin-top: 5px;
}

.number-entries {
    margin: initial;
    color: #448CCB;
    padding: 0px 3px;
}
.pagination-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-pagination-container{
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    justify-content: end;
}

.sorting-div-reset {
    text-align: left;
    letter-spacing: 1px;
    color: #9d9d9da3;
    opacity: 1;
    font-family: 'SF Pro display medium';
    font-size: small;
    padding-top: 5px;
    padding-right: 7%;
}

.sorting-div-reset:hover {
    cursor: pointer;
}

.dropDown-container {
    width: 12%;
}

.search-container {
    width: 18%;
    padding-right: 25px;
}

@media screen and (max-width : 1700px) {
    .dropDown-container{
        width: 15%;
    }
    .search-container {
        width: 20%;
    }
}