.Add-User-Inner-Div {
    width: 99%;
}

.top-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.polygon {
    width: 9px;
    height: 10px;
    padding-right: 2px;
}

.File_Upload_Icon{
    width: 23px;
    height: 31px;
    margin-left: -35px;
    margin-top: 4%;
}

.buttons {
    display: inline-flex;
    justify-content: space-between;
    width: 27%;
}

.batch-btn{
    width: 50%;
    display: inline-flex;
    justify-content: flex-start;
}

.sorting-div{
    display: flex;
    width: 44%;
    align-items: center;
    justify-content: space-between;
}

.number-entries {
    margin: initial;
    color: #448CCB;
    padding: 0px 3px;
}

.pagination-div{
    display: flex;
    width: 98%;
    justify-content: space-between;
    padding-top: 11px;
}

.sorting-div-reset {
    text-align: left;
    letter-spacing: 1px;
    color: #9d9d9da3;
    opacity: 1;
    font-family: 'SF Pro display medium';
    font-size: small;
}