.pop-up-container :root {
    height: 100%;
    width: 100%;
    margin: 0%;
}

.heading-div {
    height: 5%;
}

.solution-span {
    display: flex;
    align-items: center;
    padding-top: 6px;
}

.pop-up-close {
    display: none;
}

.pop-up-content-card {
    width: 60%;
    height: 89%;
    background-color: white;
    margin-left: 3%;
    position: absolute;
    top: 7%;
    border-radius: 15px;
}

.lable-text {
    text-align: left;
    font: normal normal bold 13px/17px OpenSans;
    letter-spacing: 0px;
    color: #333333;
    width: 17%;
}

.content-div>div {
    height: 8%;
    width: 90%;
    display: flex;
    align-items: center;
}

.content-div {
    height: 74%;
    width: 95%;
    margin-top: 2%;
}

.pop-up-content-card input {
    box-shadow: 0px 5px 8px #00000029;
    border: 2px solid #3333335e;
    border-radius: 4px;
    height: 25px;
    outline: none;
    width: 30%;
    text-align: left;
    font: normal normal normal 12px/17px OpenSans-Regular;
    letter-spacing: 0px;
    color: #333333;
    padding-left: 10px;
}

.ui-type {
    display: flex;
    flex-direction: column;
}

.ui-type-for-tab {
    display: flex;
    align-items: center;
}

.radio-text {
    text-align: left;
    font: normal normal normal 12px/17px OpenSans-Regular;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    padding-top: 5px;
    padding-right: 8px;
}

.radio-icon {
    width: 25px !important;
    border: none !important;
    box-shadow: none !important;
    height: 22px !important;
}

.radio-icon:hover {
    cursor: pointer;
}

.solution {
    display: flex;
    justify-content: space-around;
    height: 20px;
}

.solution-image {
    display: flex;
    align-items: center;
}

.tablet {
    width: 30px;
    height: 30px;
    padding-right: 22px;
}

.tv {
    width: 33px;
    height: 26px;
    padding-top: 3px;
}

.tv-img {
    width: 244px;
    height: 137px;
}

.tv-type {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
}

.dark-radio-btn,
.lite-radio-btn {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin-top: -4%;
}

.ui-type-tv {
    height: max-content !important;
    align-items: inherit !important;
    padding-top: 15px;
}

.save-cancel-btns {
    display: flex;
    justify-content: center;
    height: 14%;
    width: 95%;
}

.cancel-btn {
    font: normal normal 600 14px/20px SF-pro-display-semibold;
    letter-spacing: 1px;
    width: 10%;
    border: none;
    background-color: white;
    border-inline-end: 1px solid;
    border-inline-end-color: #DAD8D8;
    height: 50px;
    margin-right: 10px;
    text-align: end;
}

.save-cancel-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
}

.cancel-btn:hover {
    cursor: pointer;
}

.content-container {
    margin-left: 25px;
    margin-top: 15px;
    width: 100%;
    height: 100%;
}

.password-icon-hide {
    width: 24px;
    height: 18px;
}

.password-icon-show {
    width: 24px;
    height: 15px;
}

.password-icon-hide:hover,
.password-icon-show:hover {
    cursor: pointer;
}

.password-container {
    box-shadow: 0px 5px 8px #00000029;
    border: 2px solid #3333335e;
    border-radius: 4px;
    outline: none;
    width: 31%;
    display: flex;
    align-items: center;
}

.password-input {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    width: 85% !important;
}

@media screen and (min-width:1400px) and (max-width:1800px) {

    .content-div {
        height: 80%;
        width: 100%;
    }

    .content-div>div {
        width: 100%;
    }

    .pop-up-content-card {
        width: 66%;
        top: 4%;
        height: 94%;
    }

    .save-cancel-btns {
        height: 9%;
    } 

}

@media screen and (min-width:1100px) and (max-width:1399px) {
    .pop-up-content-card {
        width: 80%;
        top: 5%;
        height: 93%;
    }
    .lable-text {
        width: 21%;
    }
    .content-div>div {
        height:9%;
    }

    .save-cancel-btns {
        height: 15%;
    } 
}

@media screen and (min-width:950px) and (max-width:1099px) {
    .pop-up-content-card {
        width: 95%;
        top: 3%;
        height: 95%;
        margin-left: 2%;
    }

    .lable-text {
        width: 22%;
    }
}