@font-face {
    font-family: "Poppins-Regular";
    src: url("../styles/Poppins-Regular.ttf");
}

@font-face {
    font-family: "SF-pro-display-semibold";
    src: url("../styles/FontsFree-Net-SFProDisplay-Semibold.ttf");
}

@font-face {
    font-family: "SF-pro-display-bold";
    src: url("../styles/SFPRODISPLAYBOLD.OTF");
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../styles/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
    font-family: "OpenSans";
    src: url("../styles/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../styles/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "SF Pro display medium";
    src: url("../styles/SFPRODISPLAYMEDIUM.OTF");
}

#navigation-text {
    text-align: left;
    font: normal normal normal 12px/30px Poppins-Regular;
    color: #333333;
    padding-right: 5px;
}

#navigation-text:hover {
    cursor: pointer;
}

.navigation-text-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}

.polygon {
    height: 10px;
    padding-right: 3px;
}

.service-name-container {
    padding-top: 10px;
    padding-bottom: 25px;
}

#service-name , #unit-text {
    font: normal normal bold 14px/20px OpenSans;
    color: #333333;
}

#unit-text {
    padding-bottom: 15px;
}

.common-btn {
    width: 200px;
    height: 50px;
    background-color: #448CCB;
    font: normal normal 600 14px/14px SF-pro-display-semibold;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    margin-right: 15px;
}

.common-btn-import {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #448CCB;
    font: normal normal 600 14px/14px SF-pro-display-semibold;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}

.common-btn:hover , .common-btn-import:hover {
    background-color: #224767;
    cursor: pointer;
}

.search-box-contents {
    border: 1px solid #959191;
    border-radius: 8px;
    margin-right: 15px;
}

.searchBox {
    display: flex;
    margin: 3px 5px;
}

.input-search {
    border: none ;
    width: 80%;
    margin: 0% 3%;
    outline: none;
}

.search {
    width: 20px;
    height: 18px;
    padding: 2px;
}

.search[type=text]:focus {
    border: none;
}

.reset {
    width: 18px;
    height: 18px;
    padding: 2px;
    cursor: pointer;
}

.Open_Sans_text_Regular {
    font: normal normal normal 14px/20px OpenSans-Regular;
    letter-spacing: 0px;
    color: #333333cc;
    display: flex;
    padding-top: 4px;
}


.pagination-total-div{
    font: normal normal normal 14px/20px OpenSans-Regular;
    letter-spacing: 0.28px;
    color: #7C7C7C;
    height: 45px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entry-div{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-div{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.records{
    width: 70px;
    height: 27px;
    padding: 1px;
    border: 1px solid #c5c0c0;
    border-radius: 4px;
    font: normal normal normal 14px/20px OpenSans-Regular;
    background: white;
    outline: none;
}

.numbers {
    border: 1px solid #7C7C7C;
    font: normal normal normal 14px/20px OpenSans-Regular;
    border-radius: 4px;
}

.inside-page-div{
    display: flex;
    border: 1px solid #a7a7a7;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 70px;
    height: 27px;
}

.right-icon {
    width: 8px;
    height: 9px;
    margin-right: 5px;
}

.left-icon {
    width: 8px;
    height: 9px;
    transform: rotate(-180deg);
    margin-left: 5px;
}

.right-icon:hover , .left-icon:hover {
    cursor: pointer;
}

@media only screen and (max-width : 1600px) {
    .pagination-total-div {
        width: 35%;
    }
}