@font-face {
    font-family: "Poppins-Regular";
    src: url("../styles/Poppins-Regular.ttf");
}

@font-face {
    font-family: "SF-pro-display-semibold";
    src: url("../styles/FontsFree-Net-SFProDisplay-Semibold.ttf");
}

@font-face {
    font-family: "SF-pro-display-bold";
    src: url("../styles/SFPRODISPLAYBOLD.OTF");
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../styles/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
    font-family: "OpenSans";
    src: url("../styles/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../styles/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "SF Pro display medium";
    src: url("../styles/SFPRODISPLAYMEDIUM.OTF");
}

.search-box-contents {
    border: 1px solid #959191;
    border-radius: 8px;
    width: 35%;
}

.searchBox {
    display: flex;
    flex-direction: row;
    margin: 4px 5px;
}

.input-search {
    border: none ;
    width: 80%;
    margin: 0% 3%;
    outline: none;
}

.search {
    width: 20px;
    height: 18px;
    padding: 2px;
}

.search[type=text]:focus {
    border: none;
}

.reset {
    width: 18px;
    height: 18px;
    padding: 2px;
    cursor: pointer;
}

.common-btn {
    width: 45%;
    height: 50px;
    background-color: #448CCB;
    font: normal normal 600 14px/20px SF-pro-display-semibold;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}

.batch-import-btn {
    display: flex;
    align-items: center;
    width: max-content;
    height: 50px;
    padding: 0px 15px;
    background-color: #448CCB;
    font: normal normal 600 14px/20px SF-pro-display-semibold;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}


.Open_Sans_text_bold {
    text-align: left;
    font: normal normal bold 14px/20px OpenSans;
    letter-spacing: 0px;
    color: #333333;
}

.Open_Sans_text_Regular {
    font: normal normal normal 14px/20px OpenSans-Regular;
    letter-spacing: 0px;
    color: #333333cc;
    width: 25%;
    display: flex;
}

.common-btn:hover {
    background-color: #224767;
    cursor: pointer;
}

.batch-import-btn:hover {
    background-color: #224767;
    cursor: pointer;
}

.pagination-total-div{
    text-align: left;
    font: normal normal normal 14px/20px OpenSans-Regular;
    letter-spacing: 0.28px;
    color: #7C7C7C;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    margin-right: -1%;
    height: 45px;
}

.entry-div{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.records{
    width: 70px;
    height: 27px;
    padding: 1px;
    border: 1px solid #c5c0c0;
    border-radius: 4px;
    font: normal normal normal 14px/20px OpenSans-Regular;
    background: white;
}

.numbers {
    border: 1px solid #7C7C7C;
    font: normal normal normal 14px/20px OpenSans-Regular;
    border-radius: 4px;
}

.inside-page-div{
    width: 35%;
    height: 50%;
    display: flex;
    border: 1px solid #a7a7a7;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.right-icon {
    width: 8px;
    height: 9px;
    margin-right: 5px;
}

.left-icon {
    width: 8px;
    height: 9px;
    transform: rotate(-180deg);
    margin-left: 5px;
}