.content-management-container {
    margin-left: 1%;
    width: 99%;
    height: 100%;
}

.search-pagination-container {
    display: flex;
    justify-content: space-between;
    height: 6%;
    width: 97%;
    align-items: center;
}

.table-for-content-management {
    width: 95%;
}

.globe-icon {
    width: 20px;
    height: 19px;
}

.mobile-icon {
    width: 14px;
    height: 20px;
}

.tablet-icon {
    width: 18px;
    height: 20px;
}

.tv-icon {
    width: 25px;
    height: 20px;
}
