.dashboard-content{
    margin-left: 1%;
    height: 100%;
    overflow: auto;
}

.dashboard-card-1 , .dashboard-card-2 ,.dashboard-card-3 {
    box-shadow: 0px 10px 20px #00000034;
    border-radius: 13px;
    width: 22%;
    margin-left: 2%;
}

.dashboard-cards {
    display: flex;
    text-align: center;
    height: 60%;
}

.dashboard-title-div{
    height: 20%;
}

.dashboard-image-div{
    height: 35%;
}

.dashboard-details-div{
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 0px 27px;
}

.dashboard-button-div{
    height: 20%;
}

.dashboard-btn {
    width: 77%;
    height: 50%;
    border: none;
    background-color: #82BA50;
    border-radius: 7px;
    font: normal normal 600 14px/20px SF-pro-display-semibold;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    margin-top: 15px;
}

.dashboard-btn:hover {
    background-color: #35412C;
    cursor: pointer;
}

.title-text {
    font: normal normal bold 34px/108px SF-pro-display-bold;
    letter-spacing: 0.32px;
    color: #1E2432;
}

.div-details {
    text-align: left;
    font: normal normal normal 15px/18px SF Pro Display;
    letter-spacing: 0.32px;
    color: #1E2432;
    height: 45%;
}

.user_img {
    height: 80%;
}

.group_img {
    height: 85%;
}

.system_img {
   height: 70%;
   padding-top: 20px;
}

@media (max-width: 1600px) {
    .dashboard-card-1 , .dashboard-card-2 ,.dashboard-card-3 {
        width: 25%;
    }

    .user_img {
        height: 70%;
        padding-top: 12px;
    }
    
    .group_img {
        height: 75%;
        padding-top: 12px;
    }
    
    .system_img {
       height: 60%;
       padding-top: 25px;
    }
}

@media (max-width: 1100px) {
    .dashboard-cards {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .dashboard-card-1 , .dashboard-card-2 ,.dashboard-card-3 {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .dashboard-cards {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .dashboard-card-1 , .dashboard-card-2 ,.dashboard-card-3 {
        width: 80%;
    }
}

@media (min-width: 1950px) {
    .dashboard-card-1 , .dashboard-card-2 ,.dashboard-card-3 {
        width: 15%;
    }
}

@media (min-height: 1100px) {

    .dashboard-cards {
        display: flex;
        text-align: center;
        height: 40%;
    }
}