.text-on-the-top {
    text-align: left;
    font: normal normal normal 12px/18px Poppins-Regular;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    width: 96px;
    height: 17px;
    top: 78px;
    left: 415px;
}

.dashboard-div {
    box-shadow: 0px 10px 20px #00000034;
    border-radius: 13px;
    opacity: 1;
    width: 27%;
    margin-left: 25px;
    padding-bottom: 11px;
}

.total-div {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 80%;
    justify-content: flex-start;
    text-align: center;
}

.add-button {
    width: 77%;
    height: 11%;
    border: none;
    background-color: #82BA50;
    border-radius: 7px;
    text-align: center;
    font: normal normal 600 14px/20px SF-pro-display-semibold;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    opacity: 1;
}

.add-button:hover {
    background-color: #35412C;
    cursor: pointer;
}

.title-Text {
    text-align: center;
    font: normal normal bold 34px/20px SF-pro-display-bold;
    letter-spacing: 0.32px;
    color: #1E2432;
    opacity: 1;
}

.user_img {
    width: 60%;
    height: 28%;
}

.group_img {
    width: 80%;
    height: 28%;
}

.system_img {
    width: 60%;
    height: 28%;
}

.line-inside-div {
    text-align: left;
    font: normal normal normal 15px/18px SF Pro Display;
    letter-spacing: 0.32px;
    color: #1E2432;
    opacity: 1;
    padding: 0px 22px;
    height: 12%;
}

.Footer {
    background: #35412C;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13%;
    left: 0px;
}

.header {
    height: 7%;
    width: 100%;
    background: rgb(12, 12, 12);
    top: 0px;
    position: fixed;
    left: 0px;
    color: white;
}

.body {
    height: 100%;
    width: 100%;
}

.Nav {
    height: 80%;
    width: 15%;
    background-color: #0c0c0c;
    position: fixed;
    left: 0px;
    color: white;
    top: 7%;
}

.content {
    width: 84%;
    height: 80%;
    position: absolute;
    right: 0;
    top: 7%;
    overflow: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 1500px) {
    .dashboard-div {
        width: 31%;
    }
}