.drop-down-div{
    border: 1px solid #959191;
    border-radius: 8px;
    font: normal normal normal 16px OpenSans-Regular;
    color: #524f4f;
    margin-right: 15px;
}

.dropdown-btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    color: #524f4f;
    padding-top: 4px;
}

.drop-down-icon-container{
    padding-right: 5px;
    padding-top: 1px;
}

.dropdown-content {
    position: relative;
    background-color: white;
    margin-bottom: 5px;
}

.dropdown-content .item {   
    padding: 6px;
    cursor: pointer;
    padding: 2px 0px 5px 10px;
}

.dropdown-content .item:hover {
    background: #bbb9b977;
}

.drop-down-icon , .drop-down-icon-inverse {
    height: 20px;
    width: 23px;
}

.drop-down-icon-inverse {
    transform: rotate(180deg);
}